* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-container {
    width: 360px;
    height: 768px;
    border-radius: 24px;
    display: flex;
    position: relative;
    /* margin: auto; */
    padding: 6px 6px 32px 6px;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    background-color: #052339;
    box-shadow: 1px 1px 15px -2px rgb(0, 0, 0);
}


.screen-container {
    width: 100%;
    height: 732px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    transition: all 0.3s linear ;
}

.device-screen {
    width: 100%;
    height: 732px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    visibility: hidden;
    /* background-color: rgba(255, 255, 255, 0.85); */
}


/* ______________________________Lock Screen________________________ */
.lock-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: #052339;
}

#time {
    font-size: 36px;
    font-family: monospace;
    color: rgba(216, 191, 216, 0.411);
}

#coder-info {
    position: absolute;
    bottom: 4px;
    font-size: xx-small;
    font-family: monospace;
    color: rgba(216, 191, 216, 0.6);
}

.punch-hole-camera {
    width: 16px;
    height: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 4px;
    border: 2px solid rgba(68, 68, 68, 0.753);
    border-radius: 50%;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.795);
    box-shadow: 1px 1px 10px 2px rgb(95, 95, 95);
}

.volume-up-down {
    width: 10px;
    height: 220px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    top: 120px;
    right: -2px;
    /* background-color: chartreuse; */
}

.volume-up, .volume-down, .power-rocker {
    width: 3px;
    height: 50px;
    background-color:#052339;
    box-shadow: 1px 1px 15px -2px rgb(0, 0, 0);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    transition: left 0.1s linear;
}

.power-rocker {
    margin-top: 50px;
}

.volume-up:hover, .volume-down:hover, .power-rocker:hover {
    cursor: pointer;
}

.volume-level-indicator, .volume-level {
    display: none;
    position: absolute;
    border-radius: 50px;
    transition: all 0.2s linear;
}


.volume-level-indicator {
    width: 40px;
    height:150px;
    right: 10px;
    bottom: 50%;
    border: 2px solid rgb(147, 113, 241);
    z-index: 1;
}

.volume-level {
    width: 36px;
    height: 30px;
    max-height: 147px;
    right: 12px;
    bottom: 50.1%;
    background-color: rgb(147, 113, 241);
    border: 2px solid transparent;
}


/* _______________________Messenger STYLING__________________________ */

.message-container {
    width: 100%;
    height: 665px;
    max-height: 670px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.message-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    align-self: flex-start;
}

/* left right list */
.left-message-container, .right-message-container {
    width: 80%;
    height: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


.left-message-container {
    align-self: flex-start;
    align-items: flex-start;
}

.right-message-container {
    align-self: flex-end;
    align-items: flex-end;
}


/* left right message */
.message-left, .message-right {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 8px 0 8px;
    border: 1px solid #052339;
}


.message-left {
    color: #052339;
    border-radius: 24px 24px 24px 0;
}

.message-right {
    background-color: #052339;
    color: thistle;
    border-radius: 24px 24px 0 24px;
}

/* message css styling */
.message {
    max-width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

.date-left, .date-right {
    display: flex;
    position: relative;
    font-size: xx-small;
    font-family: monospace;
    color: brown;
    bottom: -16px;
}

.date-left {
    align-self: flex-end;
}

.date-right {
    align-self: flex-start;
}




/* Css for user name */
.user-name-left, .user-name-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.user-name-left .far, .user-name-right .fas{
    font-size: large;
}


.user-name-left p, .user-name-right p {
    font-size: 8px;
}

.user-name-left {
    margin-left: -18px;
    margin-top: -4px;
}

.user-name-right {
    align-self: flex-end;
    align-items: flex-end;
    margin-right: -18px;
    margin-top: -4px;
}

/* css for notification */
.notification {
    list-style: none;
    align-self: center;
    font-family: monospace;
    font-size: xx-small;
    font-style: italic;
    margin-bottom: 24px;
}

/* css for joined notification */
.joined-notification {
    color: green;
    
}


/* css for left notification */
.disconnect-notification {
    color: maroon;
}

/* css for name change notification */
.name-change-notification {
    color: rgb(161, 6, 110);
}

.typing-status {
    color: black;
}

/* ______________________CSS for input message__________________________ */

.input-message-container {
    width: 100%;
    height: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.input-message-container .message-form {
    width: 90%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    border: 2px solid #052339;
    border-radius: 36px;
}

.input-message-container .message-form #message {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: transparent;
    border: none;
    border-radius: 36px;
}

.input-message-container .message-form #message:focus {
    outline: none;
    border: none;
}

.input-message-container .message-form .send-button {
    border: none;
    background-color: transparent;
    color: #052339;
    font-size: xx-large;
    display: flex;
}

/*_______________ status bar css styling _______________*/
.status-bar {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: mediumvioletred;
}

.status-bar .status-time {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: thistle;
    font-size: 10px;
    font-family: monospace;
    border-top-left-radius: 20px;
    padding-left: 16px;
}

.status-bar .icons {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 20px;
    padding-right: 16px;
}

.status-bar .fas {
    color: thistle;
    font-size: 8px;
    margin-left: 6px;
}

.status-bar .fa-music {
    margin-right: 4px;
}

.status-bar .fa-wifi {
    margin-right: 4px;
}

.status-bar .fa-battery-three-quarters {
    font-size: small;
}

/* ____________________AppBar Styling________________ */
.appbar {
    width: 100%;
    height: 50px;
    padding: 0 16px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: mediumvioletred;
}

.appbar-username-container {
    height: 50%;
}

.username {
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    font-family:monospace;
    color: thistle;
    font-weight: 900;
    border: none;
}
.username:focus {
    border: none;
    outline: none;
}

.option-menu {
    font-size: 12px;
    color: thistle;
}

.option-menu:hover {
    cursor: pointer;
}



/* active members */
.active-client-container {
    width: 360px;
    max-width: 360px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    visibility: hidden;
    align-self: center;
    padding-right: 36px;
    margin-top: -20px;
    z-index: 1;
}

.active-clients {
    font-family: monospace;
    font-size: x-small;
    color: thistle;
    font-style: italic;
}


